.hero-header {
  position: relative;
  height: 820px;
  display: flex;
  justify-content: center;
  border: 120px solid $quinary-color;

  img {
    width: 100%;
    height: calc(820px - 240px);
    object-fit: cover;
  }

  h1, h2, h3 {
    position: absolute;
  }

  h1 {
    top: -109px;
    left: -0vw;
    font-size: 100px;
    color: $secondary-color;
  }

  h2 {
    top: 60px;
    font-size: 40px;
    left: 0;
    color: $secondary-color;
  }

  h3 {
    top: 100px;
    font-size: 40px;
    left: 0;
    color: $secondary-color;
  }
}

@media screen and (max-width: 815px) {
  .hero-header {
    border: 100px solid $quinary-color;

    h1 {
      top: -65px;
      font-size: 60px;
    }

    h2, h3 {
      font-size: 2rem;
    }
  }
}

// @media screen and (max-width: 415px) {
//   .hero-header {
//     h1 {
//       left: -102px;
//     }
//   }
// }