.home-cards {
  height: 700px;
  position: relative;
  background-color: $primary-color;
  
  &_cards {
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8vw;
  }

  &_button {
    z-index: 0;
  }
}


@media screen and (max-width: 815px) {
  .home-cards {
    height: auto;

    &_cards {
      margin: 5rem 0 2rem 0;
      flex-direction: column;
    }
  }
}