.home-carousel {
  width: 100%;
  margin: auto;
  min-height: 100vh;
  background-color: $quaternary-color;

  .carousel .carousel-slider {
    margin: auto;
    z-index: 0;
    cursor: pointer;
  }

  &_title {
    margin-bottom: 48px;
  }
}