.home-cards {
  height: 95vh;
  position: relative;
  background-color: $primary-color;
  
  &_cards {
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8vw;
  }

  &_button {
    z-index: 0;
  }
}
