.nav-links {
  display: flex;
  flex-direction: row;
  gap: 48px;

  li {
    a {
      font-size: 24px;
      color: black;
      font-family: $primary-font;
      font-weight: 300;
    }
  }
}

@media screen and (max-width: 955px) {
  .nav-links {
    li {
      a {
        font-size: clamp(12px, 4vw, 24px);
      }
    }
  }
}