.prestation-card {
  display: flex;
  align-items: center;
  min-height: 400px;
  background-color: $quaternary-color;

  img {
    border-radius: 20px;
    height: 300px;
    width: 700px;
    object-fit: cover;
  }
}