// colors :

$primary-color: #FBFBFB;
$secondary-color: #2F0A28;
$tertiary-color: #E7A977;
$quaternary-color: #FAEFE6;
$quinary-color: #F7EFEC;

// fonts : 
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:wght@200&display=swap');

$primary-font: 'Noto Serif Display', serif;

// buttons of main page :

.home-cards, .home-carousel {
  &_button {
    position: relative;
    margin-left: 75vw;
    background: $tertiary-color;
    display: inline-block;
    border: none;
    border-radius: 20px;
    padding: 1.5rem 1.25rem;
    color: $primary-color;
    text-transform: uppercase;
    font-size: 1rem;
    font-family: $primary-font;
    font-weight: 700;
    letter-spacing: 0.12rem;
    transition: all 0.3s;
    cursor: pointer;
    overflow: hidden;
    z-index: 1;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;

    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $tertiary-color;
      border-radius: 20px;
      z-index: -2;
    }

    &:before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0%;
      height: 100%;
      background-color: darken($tertiary-color, 15%);
      transition: all 0.3s;
      border-radius: 20px;
      z-index: -1;
    }

    &:hover {
      color: $primary-color;

      &:before {
        width: 100%;
      }
    }
  }
}